<h1>ECE1724 = Superhumachines = Superhuman Humachines</h1>
<h1>Tech for Everyone and Earth</h1>
<h2>Become a superhero by building superintelligence for people of all abilities to be kind ot each other and the earth.</h2>
<h3>Super-human-machine interface = wearable A.I. for superhuman intelligence</h3>
<h3>BA3165, Thursdays 6pm to 9pm, starting 2024sep05.</h3>
A Superhumachine is based a technology that connects us to our environment (surroundings) and invironment (our own body), i.e. it forms
liminal space between us and our surroundings.  Examples of technologies include shoes, clothes, eyeglasses, and vehicles, especially
personal veyances such as the mobility aid that helps a person with a disability find their way in life.
Collectively these are called "vironments" (i.e. defining the boundery between invironment=us, and environment=surroundings).
Vironments we'll study and build include the smart self-driving walker rollator that can function like a seeing-eye-dog,
as well as the Freehicle<sup>TM</sup> = vehicle of freedom of mobility that can operate indoors, outdoors, on sidewalks, bike paths, and
roads, as well as be an ABC (airplane, boat, and car).
<p></p>
This course website is written on GitLab and you are invited to shape it and be part of this effort, working together for a free + open source world!
<p>
    <img width="360" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/SteveMann_with_violin_waves720x.gif">
<br/>
Multiple-exposure photograph of sound waves coming from a robotically-played violin (Steve Mann's office at Meta in Silicon Valley, California)
<p>
    <img width="360" src="figs/FreehicleDSC02560-cp.jpg">
    <br/>First lecture of 2024 (September 5th) in BA3165
<p>
Instructor: <a href="http://wearcam.org/bio.htm">Steve Mann</a>, Inventor of:
     <a href=http://wearcam.org/nn.htm>wearable computing</a>;
     <a href=http://wearcam.org/smartwatch/>the smartwatch</a>;
     <a href=http://wearcam.org/hdr.htm>HDR (High Dynamic Range)</a> imaging;
     <a href=http://waterhci.com>WaterHCI (Water-Human-Computer Interface)</a>; and
     <a href=http://wearcam.org/swimvention.htm>SWIM = Sequential Wave Imprinting Machine</a>; as well as the recipient of the
     <a href=https://corporate-awards.ieee.org/recipients/current-recipients/>2025 IEEE Masaru Ibuka Consumer Technology Award</a>, and a
     <a href=https://news.engineering.utoronto.ca/two-u-of-t-engineering-professors-named-ieee-fellows/>Fellow of the IEEE</a>.
<p>
Advisors:<a href="https://ieee-collabratec.ieee.org/app/p/YuYuan12928">Yu Yuan</a>, President of the IEEE Standards Association,
<a href="https://en.wikipedia.org/wiki/Thomas_A._Furness_III">Tom Furness</a>, widely regarded as "<a href=https://educatorsinvr.com/2019/05/31/virtual-reality-pioneer-tom-furness/>The Grandfather of Virtual Reality</a>";
<a href="https://www.linkedin.com/in/paul-travers-534b336/">Paul Travers</a>, Founder and CEO, <a href=http://vuzix.com>Vuzix</a>;
Craig Travers, creator of the Vuzix SmartSwim; and
<a href="https://www.linkedin.com/in/calum-leaver-preyra-455284248/">Calum Preyra</a>, founder of the <a href=mersivity.com>Mersivity</a> Student Club at McGill University.  If you're student and
    want to get involved in starting a similar Mersivity Student Club at University of Toronto, reach out to Calum and also let us know.

<h2>Course philosophy and ethos:</h2>
The course is the trinity of technology, humanity, and earth.  Specifically,
technology in service of humanity and earth.
<p>
The course is built upon the foundation of Mersivity which posits that
if a techology is immersive it should also be exmersive.
That means that if the technology can "merse" you, you can also "merse" it.
For more on this philosophy, see <a href=mersivity.com>mersivity.com</a>.

<h2>Grading:</h2>
<ul>
 <li>10% reading review
 <li>30% assignments or hands-on research (student's choice) to make the world a better place!
 <li>40% final project
 <li>10% quiz
 <li>10% participation
</ul>

<h2>Readings:</h2>
        <p>In this course we will design and build ethical technology to positively invent and shape the future of humanity and earth.
Below is a list of necessary readings for everyone alongside project specific reading lists.
        <h3>EVERYONE READ, onboarding reading:</h3>
These three readings are for the first week; please spend at least an hour or so to look through these 3 papers before the 2nd class 2024sep12, so that you can discuss and comment on at least some aspects of this work:
Also I have a presentation to make at TIFF (Toronto International Film Festival) on Sept. 12th at 9pm so I will need to leave early and I will have a TA complete
to the end of the class.  (<a href=https://spacing.ca/toronto/2024/09/06/ontario-place-premieres-at-tiff/>Our Mersivity group is featured in TIFF</a>; also check out this
<a href=https://www.youtube.com/watch?v=DyLeuQcz1hA>intro to our group</a>.)
<ul>
    <li><a href="https://ieeexplore.ieee.org/document/10145781">eXtended meta-uni-omni-Verse (XV): Introduction, Taxonomy, and State-of-the-Art</a>
    <li><a href=https://2021.waterhci.com/proceedings.php>Proceedings of the 23rd annual Water-Human-Computer-Interface (WaterHCI 2021):
Crossing the Borders of Computation, Clothes, Skin, and Surface</a>, Pages 6-35;
    <li><a href=http://wearcam.org/cyborgsconference/CyborgsConference2021_proceedings_excerpt_p4-6_and47-64_.pdf>Crossing the Border of Humanity: Cyborgs in Ethics, Law, and Art</a>, Pages 4-6 and 47-64.
        If you wish, you can also optionally read the <a href=http://wearcam.org/cyborgsconference/CyborgsConference2021proceedings.pdf>entire Proceedings</a>.
</ul>
        <p>
            plus choose one of these introductory papers on background, context, philosophy, what we believe in etc.:
<ul>
    <li><a href="http://wearcam.org/wearableai.pdf">Wearable AI</a>;</li>
    <li><a href="http://wearcam.org/hi.pdf">Humanistic Computing (Humanistic Intelligence), Proc. IEEE, general audience</a></li>
    <li><a href=https://ieeexplore.ieee.org/document/7377257>Declaration of veillance (surveillance is half truth)</a> (<a href="http://wearcam.org/declaration.pdf">local cache</a>);</li>
    <li><a href=https://ieeexplore.ieee.org/document/6613095>Society of Intelligent Veillance (Marvin Minsky, Ray Kurzweil, and Steve Mann</a> (<a href=http://wearcam.org/sensularity.pdf>local cache</a>)</li>
    <li><a href="http://wearcam.org/itti/">Can Humans Being Clerks Make Clerks Be Human...</a></li>
    <li><a href="http://wearcam.org/par.pdf">IEEE Consumer Electronics: Enhancing Reality for the Future</a>;</li>
    <li><a href="http://wearcam.org/hmc/hmc.htm">Human Machine Communication</a></li>
</ul>
        </p>

<h3>Optional humourous reading: a fun and playful look at the concept of negative oppression:</h3>
<a href=http://wearcam.org/cast01/cast01.pdf>CAST 2001, living as cyborgs: trapped in a subjugatory computer-mediated reality that extends to all hours of our day-to-day lives</a>

<h2>SPECIFIC READINGS FOR PROJECTS:</h2>
    <p>
    <ul>
        <li>VMP/WearComp</li>
        <ul>
            <li><a href="http://wearcam.org/vmp.pdf">VMP = Visual/Virtual Memory Prosthetic</a></li>
            <li><a href="http://wearcam.org/hi.pdf">humanistic computing, IEEE, general audience</a></li>
    </ul>
    <li>Chirplet transform</li>
    <ul>
        <li><a href="http://wearcam.org/chirplet.pdf">The chirplet transform: Physical considerations, IEEE Transactions on Signal Processing, Vol. 43, Iss. 11, pp. 2745-2761, 1995j</a></li>
        <li><a href="http://wearcam.org/chirplet/vi91/index.htm">Steve Mann, and Simon Haykin. "The Chirplet Transform: A Generalization of Gabor's Logon Transform", Vision Interface '91 - Canadian Image Processing and Pattern Recognition Society, pp.205-212, June 3-7, Calgary, Alberta, 1991</a></li>
    </ul>
    <li>SWIM</li>
    <ul>
        <li><a href="http://wearcam.org/swim">wearcam.org/swim</a></li>
    </ul>
    <li>Mathematical foundations, comparametric equations, HDR, etc.</li>
    <ul>
        <li><a href="http://wearcam.org/hdrbookchapter.pdf">wearcam.org/hdrbookchapter.pdf</a></li>
        <li><a href="http://wearcam.org/comparam.pdf">Comparametric Equations with Practical Applications in Quantigraphic Image Processing [BibTex] , IEEE Transactions on Image Processing, Vol. 9, No. 8.</a></li>
        <li><a href="http://www.eyetap.org/papers/docs/HDRAudio_IEEEccece2012paper404.pdf">HIGH DYNAMIC RANGE SIMULTANEOUS SIGNAL COMPOSITING, APPLIED TO AUDIO [BibTex] , IEEE CCECE 2012. Introduces the world's first 3D HDR audio implementation, based on combined small-signal analysis and large-signal analysis.</a></li>
    </ul>
        <li>BCI:</li>
    <ul>
        <li><a href="http://wearcam.org/eyecam.pdf">"The Human Eye as a Camera", 2019 IEEE International Conference on E-health Networking, Application & Services (HealthCom), 14-16 October 2019, Bogota, Colombia, pp. 1-8.</a></li>
    </ul>
<li>NUI</li>
<ul>
    <li>hydraulophone: <a href="http://wearcam.org/watershapes">wearcam.org/watershapes</a></li>
    <li><a href="http://wearcam.org/physiphones.pdf">Steve Mann. "Natural Interfaces for Musical Expression: Physiphones and a physics-based organology", Proceedings of the 2007 Conference on New Interfaces for Musical Expression (NIME07), June 6-10, New York, NY, USA.</a></li>
    </ul>
    </ul>

<h2>Doings:</h2>
This course gives you the opportunity to have direct positive impact on the world, making it better by making things, or participating in direct outreach.  We encourage assignments to be in the 
form of publications, social media posts, or other directly visible works that will help, if even in just a small way, make the world a better place 
for us and our environment.
<p>
Fun projects you can do in this course, starting immediately (starting with warm summer weather projects in nature, water, etc.)
<ul>
    <li>Freehicle = vehicle of freedom for persons with a disability ... self-driving mobility aid, ...
    <li>Nuit Blanche, Mochoid;
    <li>Smart Swim: Wearable computing and underwater VR/AR/XR/SI
    <li>Autonomous water robotic vessel to clean up Peter Street Basin;
    <li>Spinal rehab with Mersivity Ball: Water-walking (walk-on-water) with VR flight simulator exercise;
    <li>"Jesus" = a walk-on-water exercise machine (Treadmill aboard a vessel so that you drive the vessel by walking on water);
    <li>S.W.I.M. = 50 years of XR + spatial intelligence, 1974 - 2024;
    <li>various other inventions and art installations to raise awareness...
</ul>

<h2>Speakers:</h2>
Date TBD, Yu Yuan, President of the IEEE Standards Association,
<p>
Date TBD, Tom Furness, "The Granfather of Virtual Reality"
<p>
More to be added...

<h2>EQUIPMENT AVAILABLE FOR SIGNOUT:</h2>
<h2>Vuzix Blades:</h2>
<img height="328" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/ChristinaVuzixBladeIMG_20200218_194808c.jpg">
<img height="328" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/VuzixBlades_crop_IMG_20201015_150034.jpg">
<p>
<img width="720" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/vuzixblade_projection_20201121_172745.jpg">

<h2>Vuzix SmartSwims:</h2>
<img width="720" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/smartswim.jpg">
<br/>
We also have a year-round swim group at downtown Toronto's only beach, the TeachBeach&trade; we built at Ontario Place, <a href=http://swimop.com>SwimOP.com</a> and
<a href=facebook.com/groups/swiomp>facebook.com/groups/swiomp</a> and enjoy the tremendous health benefits of ice-swimming while using the SmartSwim to monitor vital signs and navigate, etc..
<p>
Additionally you can experience the Mersivity ball, hydraulophone, multi-component lock-in amplifier,
underwater SWIM (Sequential Wave Imprinting Machine), and many other fun
and educational inventions at Teachbeach.  Simply arrange a time and date
or join us on facebook.com/groups/swimop

<h2>InteraXon Muses:</h2>
<img width="720" src="https://gitlab.com/SteveMann/superhumachines/-/raw/main/signo_muse_color.svg">
<br/>
(causing the eye itself to function as an imaging device to take a picture of the "NO CAMERAS" sign without using a camera...)

<h2>Wide range of SWIM-related devices:</h2>
We have the world's largest collection of SWIMs and SWIM-related technologies
as well as a wide range of photographic equipment that you can use in the classroom / lab or sign out.

<p>
Copyleft 🄯 <script type='text/javascript'>var creditsyear = new Date();document.write(creditsyear.getFullYear());</script>
<p>
This work is licensed under "<a href=http://eyetap.org/Against_DRM2.htm>Against DRM 2.0</a>" (reason for being against DRM = <a href=http://wearcam.org/sledgehammerawards2015.htm>HDMI</a>)
