<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h1>Humacomm = Human-Machine Communication and its origins in Water-Human-Machine Interaction</h1>
Steve Mann, 2022feb14
<p>
Communication is the central aspect of HMC (Human-Machine Communication),
human-machine interaction, human-machine interfaces,
humachines (the human-machine nexus), cyborgs, etc..
All embodiments of HMC (Human-Machine Communication) comprise the following
3 elements:
<ul>
 <li>Human;
 <li>Machine;
 <li>Communication,
</ul>
as illusrated below:<br/>
<img width=640 src=humacom_pictures.svg>
<br/>
where we have denoted the human as a circle (the simplest of curves),
the machine as a square (the simplest of boxes), and communication as the
bidirectional flow of data, knowledge, information, understanding,
insight, wisdom, etc., i.e. as
bidirectional signal/communication lines.
These lines may comprise neurons, wires, fibers, or be wireless data
communications lines.
<p>
Although some communication, e.g. radio broadcasts, broadcast television, etc.,
can be unidirectional, we argue in favour of cybernetic communication, i.e.
communication that includes some kind of feedback.  Even a broadcaster
will likely want some audience feedback.  Only in rare circumstances
such as NASA's message to possible extraterrestrials (Pioneer plaque, 1972)
is it really only unidirectional, and even there, we might hope someday to
get a response.
<p>
The key essence of bidirectionality in communication is circular causality,
also known as
“feedback”.  Feedback is the core concept of cybernetics.
Thus we might equally name the HMC field as Human-Machine Cybernetics.

<h2>Communication = Cybernetics = Κυβερνήτης = Helmsperson</h2>
The word “cybernetics” comes from the ancient Greek word
“κυβερνήτης” which means helmsperson.
<p>
The word “cyborg” was coined by Manfred Clynes in 1960 to denote
“cybernetic organism”, as a nexus of a living being with a machine.
His favorite example of a cyborg is a person riding a bicycle, i.e.
a human and machine in a cybernetic feedback loop.  This example of
human-machine communication dates back about 200 years, but it has also
been argued that HMC has (“cyborgs” have) been in existence for more than
a million years [Mann 2021, in “Crossing the Border of Humanity”, p47-64]!
<p>
One of the simplest of machines is the million-year-old
Hominid Raft which predates
the approximately 5000 year-old invention of the wheel.
The hominid raft even predates the existence of homo-sapiens!
It is well-known that hominids traveled from Africa to other continents on
rafts having simple cybernetic (steering) mechanisms.
Thus the world's first cyborgs were aquatic “waterborgs”, much like the one
depicted below, from the National Museum of Australia:<br/>
<img src=NationalMuseumAustralia_hominid_Raft1.jpg>

<p>
More precisesly, communication is what takes place between the human and the
machine, as shown below:<br>
<img width=640 src=human_communication_machine.svg>,<br/>
and in the diagrams of feedback and control theory,
we often prefer to show communication signals going around in a loop,
thus we might re-envision HMC in one of two ways, as follows:<br/>
<img width=720 src=hmc_feedback_loop.svg>
<p>
The nexus of human and machine is often referred to as a
“cyborg” or “humachine”.  The author proffers the concept of a nexus of
human, machine, AND communication therebetween,
as a cohesive entity called a “humacomm”.
<p>
More generally, a humacomm may itself interact with other machines,
giving rise to a metahumacomm, itself capable of interacting with
other machines, and so on, to any desired layer of complexity.
An example is a humacomm comprised of a human with an eyeglass-based
XR (eXtended Reality) system [Mann and Wyckoff 1991], brain-computer-interface,
and the like, interacting with a smart paddle, and this new metahumacomm
interacting with a smart vessel such as a smart paddleboard, as shown below:
<br/>
<img width=640 src=humacomm_sup.svg>
<p>
Here we have a smart paddleboard that senses the water, e.g. water quality,
using sound wave propagation based on the SYSU x MannLab multicomponent
lock-in amplifier sonar system, as pictured on the top row.
The system architecture shown in the bottom row comprises the nested set
of feedback loops.

<h2>Back to basics</h2>
As computers pervade our nearly every waking moment, rather than being
chained or wired to our desks, hunched over the computer
as with computing of the past, forcing us to bend over and twist ourselves
like a pretzel around the computer,
"wearables" allow us to stand upright and enjoy the raw nature of the
great outdoors, capturing a healthy dose of vitamin D, to experience a 
blend of icewater swimming and "growlerboarding" (standing on growlers while
paddling) for example:<br>
<img width=480 src=growlerboarding4up.svg>
<br>
Here the wearable computer provides simultaneous information overlays about
what's happening inside the body while it is being pushed to its extreme limits
of coldwater endurance (e.g. heart, respiration, mind, body, etc.) as well as
what's happening around the body (e.g. water conditions, weather, maps,
wayfinding, potential hazards, etc.).

<h2>Human-Humacomm</h2>
Finally, consider the situation where a non-cyborg human interacts with a
humacomm, and now we have human-human-computer-communication:
<br/>
<img width=320 src=humacom_human_face-to-face.svg>

<h2>Fractal (self-similar) nature of Humacomm</h2>
We now present 3 nested examples of HMC, as follows:
<ul>
 <li>The mind is the seat of consciousness, i.e. that which makes us human.
     We can think of the human body as a machine.  In this sense the
     efferent (outgoing) and afferent (incoming) nerves form the communication
     between the human and the machine, i.e. the feedback loop that defines
     this form of HMC;
 <li>For more than a million years, cyborgs (humachines) have existed in
     the form of humans using machines to extend their reach.  The world's
     first cyborgs were waterborgs using vessels (simple rafts) to travel
     great distances between continents, thus the foundation of humacomm;
 <li>The humacomm can interact within the spaces of smart cities,
     smart beaches, etc., where technologies sense the human (surveillance)
     and the human senses the smart world (sousveillance).
     A typical city has multiple humacomm/cyborg/humachine inhabitants,
     and thus we have a community of humacomms living in a city that
     may itself be regarded as a machine, made up of many machines.
     This machine machine (machine of machines) is a metamachine.
</ul>
<img width=640 src=hi_fractal_3_in_a_row_vessel.svg>
<p>
The fractal (self-similar) nature of this nested set of feedback loops
should be readily apparant [Sousveillant Cities and Systems].
<p>
Whereas the human and computer are in communication with each other,
each may also be in communication with other entities.
For example, the technology should be designed so as to be unmonopolizing,
such that the human can remain aware of the surroundings.
It must be unrestrictive so the human can continue to interact with the
surroundings.  It should be attentive, i.e. so the computer can sense the
surroundings, and it should be communicative so that the computer can 
communicate with other persons who may or may not be humacomms, as well as
with other entities such as AI (Artificial Intelligence).
Thus there are six communication paths between human and computer, as shown
leftmost below:
<br/><img width=640 src=hi_fractal6.svg>
<br>
Furthermore, these six communications pathways apply in the same fractal
(self-similar) way, as shown middle and rightmost.

<h2>Type 1 and Type 2 cyborgs/humachines/humacomms</h2>
It is useful to consider a Type 1 cyborg/humachine/humacomm is one in which
the human enters the technology, e.g. the human enters a vessel or vehicle.
A generalized vessel/vehicle/clothing, etc., is known as a
vironment [Mann etal 2021, WaterHCI].
A Type 2 cyborg/humachine/humacomm is one in which a vessel enters the human,
e.g. implantable technologies.
This distinction is illusrtated below:<br/>
<img width=320 src=type1type2.svg>

<h2>The egg and the wall</h2>
Finally, let us consider as the machine large institutions such as
"big government", "big banks", "big science", and "big watching" (surveillance).
Such entities are geared toward efficiency and massive scale, and in some
sense run like machines, and are often even referred to as machines,
e.g. in the phrase "machinery of government"
[Mill, J.S. (1861) Considerations on Representative Government,
ISBN 0-7661-8898-1].
<p>
A common metaphor is to regard a large organization as "machine"
and to regard humans as "cogs" in that "machine".
But a better metaphor is perhaps the "egg" and the "wall", as captured in the
following quote:
<blockquote>
“If there is a hard, high wall and an egg that breaks against it, no matter how
right the wall or how wrong the egg, I will stand on the side of the egg. Why?
Because each of us is an egg, a unique soul enclosed in a fragile egg. Each of
us is confronting a high wall. The high wall is the system which forces us to
do the things we would not ordinarily see fit to do as individuals . . . We are
all human beings, individuals, fragile eggs. We have no hope against the wall:
it's too high, too dark, too cold. To fight the wall, we must join our souls
together for warmth, strength. We must not let the system control us -- create
who we are. It is we who created the system.”
Haruki Murakami, Jerusalem Prize acceptance speech,
JERUSALEM POST, Feb. 15, 2009.
</blockquote>
<p>
<img width=360 src=egg_wall.svg>
<p>
The "egg" and "wall" metaphor speaks to the human and the machine,
but let us not merely reverse this, but give the above diagram
a kind of 90-degree rotation and say:
No matter how
right the surveillance or how wrong the sousveillance, I will stand on the side of the sousveillance. Why?
Because each of us
is confronting a high degree of surveillance.
We have no hope against the hypocrisy of the vast surveillance networks,
they're too pervasive, too powerful. To fight the hypocrisy and
corruption of a surveillance-only society,
we must join in widespread sousveillance.

<h2>IDEA (Inclusive Diversity and Equity Assertion)</h2>
The concept of morphological and myalogical freedom, e.g. to choose one's
own form and function, is central to the cyborg being, i.e. to HMC
[Mann 2021, in “Crossing the Border of Humanity”, p47-64].
<p>
In particular, there are many closed-source sytems that collect lots of
information about us but reveal little about themselves.
This one-sided surveillance-without-sousveillance (or with less sousveillance)
is the antithesis of closed-loop feedback.
Feedback delayed (or reduced) is feedback denied!
In this way, we must ensure that there is sousveillance in proportion to
surveillance, i.e. that we can sense when we are being sensed.
Systems that provide for this are known as sousveillant systems.
Failure to provide for sousveillance is one of the most common shortcomings of
modern HMC.

<h2>Matter acknowledgement</h2>
We wish to acknowledge not just the land
(earth) but matter in all four states-of-matter: earth, water, air, and fire
(i.e. solid, liquid, gas, and plasma, as well as any other state-of-matter),
of Ontario Place where our outdoor “TeachBeach™” is located. For thousands of
years these places have been traditional places of the Huron-Wendat, the
Seneca, and most recently, the Mississaugas of the Credit River. Today, these
meeting places are still the home to many Indigenous people from across Turtle
Island and we are grateful to have the opportunity to work here. In some sense
a part of the photographs and videos we capture here are owned, at least in
part, by the many Indigenous people.

<p>
If we can acknowedge not just the land, but matter in general,
we might take a first step toward justice in the world of veillance,
for generally speaking, surveillance is the veillance that is affixed to the
land, whereas sousveillance is often the veillance that is affixed to the
person.  Surveillance cameras that are mounted on poles upon the land, or
buildings upon the land, ought to thus be shared and not monopolized, as this
will more likely create a situation that is closer to veillance symmetry,
and thus not so strongly on the side of the "wall" that stands upon the
land thus acknowledged.

